.footer {
  padding-top: 30px;
  padding-bottom: 30px;

  @include mq(tablet) {
    display: flex;
    justify-content: space-around;
  }
}

.footer__copy {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  font-weight: var(--fw-600);
  font-size: var(--fs-11);
  line-height: 1.36;
  letter-spacing: var(--ls-20);
  color: var(--text-secondary-color);

  @include mq(mobile-only) {
    margin-bottom: 40px;
  }
}
