.connect {
  @include mq(tablet) {
    display: flex;
    align-items: center;
  }

  @include mq(tablet-only) {
    flex-direction: column-reverse;

    padding-top: 40px;
  }

  &--is-hidden {
    @include mq(mobile-only) {
      display: none;
    }
  }
}

.connect__phone {
  display: block;

  font-weight: var(--fw-600);
  font-size: var(--fs-18);
  line-height: 1.36;
  letter-spacing: var(--ls-10);

  color: var(--secondary-color);

  transition: color var(--animation-duration) var(--animation-timing-function);

  @include mq(mobile-only) {
    margin-bottom: 24px;
  }

  @include mq(tablet) {
    font-size: var(--fs-12);

    color: var(--primary-color);
  }

  @include mq(tablet-only) {
    margin-top: 20px;
  }

  @include mq(desktop) {
    margin-right: 40px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
