.page-header__container {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 479px) {
    width: 100vw;
  }

  @include mq(tablet) {
    top: 0;
  }

  @include mq(desktop) {
    top: 32px;
  }
}

.logo {
  fill: var(--primary-color);

  @include mq(tablet) {
    fill: var(--secondary-color);
  }
}
