.page-header__container {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  fill: var(--bgd-primary-color);
}
