.site-nav {
  @include mq(tablet) {
    display: flex;
  }

  &--is-hidden {
    @include mq(mobile-only) {
      display: none;
    }
  }
}

.site-nav__item {
  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @include mq(tablet) {
    &:not(:first-child) {
      margin-left: 24px;
    }
  }
}

.site-nav__link {
  font-weight: var(--fw-600);
  font-size: var(--fs-18);
  line-height: 1.36;
  letter-spacing: var(--ls-10);
  color: var(--secondary-color);

  transition: color var(--animation-duration) var(--animation-timing-function);
  cursor: pointer;

  @include mq(tablet) {
    padding: 25px 0;

    font-size: var(--fs-12);
    color: var(--primary-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
