<section class="section">
    <div class="container about">
        <ul class="about__list">
            <li class="about__item">
                <picture>
                    <source srcset="./images/about/about-1-270.webp 1x, ./images/about/about-1-270@2x.webp 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/about/about-1-330.webp 1x, ./images/about/about-1-330@2x.webp 2x"
                        type="image/webp">
                    <source srcset="./images/about/about-1-270.jpg 1x, ./images/about/about-1-270@2x.jpg 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/about/about-1-330.jpg 1x, ./images/about/about-1-330@2x.jpg 2x">
                    <img src="./images/about/about-1-330.jpg" alt="барбер стрижет клиентов">
                </picture>
            </li>
            <li class="about__item">
                <picture>
                    <source srcset="./images/about/about-2-270.webp 1x, ./images/about/about-2-270@2x.webp 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/about/about-2-330.webp 1x, ./images/about/about-2-330@2x.webp 2x" type="image/webp">
                    <source srcset="./images/about/about-2-270.jpg 1x, ./images/about/about-2-270@2x.jpg 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/about/about-2-330.jpg 1x, ./images/about/about-2-330@2x.jpg 2x">
                    <img src="./images/about/about-2-330.jpg" alt="барбер стрижет клиентов">
                </picture>
            </li>
        </ul>
        <div class="about__content">
            <p class="section__pre-title">О НАС</p>
            <h1 class="section__title section__title--small">Лучший Барбершоп <br> твоего города</h1>
            <p class="section__after-title">Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.</p>
            <p class="section__content">Мы команда, которая никогда не останавливается на достигнутом и жаждет перемен. И когда ты
                попадешь
                в руки нашего мастера, то уже никогда не сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
                волне".
                Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам приходит!</p>
            <button class="button" type="button">онлайн-запись</button>
        </div>
    </div>
</section>