<section class="section">
    <div class="container">
        <p class="section__pre-title">О НАС</p>
        <h1 class="section__title section__title--small">Лучший Барбершоп <br> твоего города</h1>
        <p class="section__after-title">Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.</p>
        <p class="section__content">Мы команда, которая никогда не останавливается на достигнутом и жаждет перемен. И когда ты попадешь
        в руки нашего мастера, то уже никогда не сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной волне".
        Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам приходит!</p>
        <button class="button" type="button">онлайн-запись</button>
    </div>
</section>