<section class="section contacts">
    <div class="container container--small">
        <h2 class="section__title section__title--centered section__title--white section__title--without-pre-title">Контакты</h2>
        <div class="contacts__wrapper">
            <address class="address contacts__address">
                <ul class="address__list">
                    <li class="address__item">
                        <svg class="address__icon" width="24" height="24">
                            <use href="./images/icons.svg#icon-map-pin"></use>
                        </svg>
                        <a class="address__link"
                            href="https://www.google.com/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%92%D0%BE%D0%BB%D0%BE%D1%88%D0%BA%D0%BE%D0%B2%D0%B0,+7,+%D0%A1%D0%BE%D1%84%D1%96%D1%97%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%91%D0%BE%D1%80%D1%89%D0%B0%D0%B3%D1%96%D0%B2%D0%BA%D0%B0,+%D0%9A%D0%B8%D1%97%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB.,+08131/@50.4045703,30.377987,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4cbc58525aeeb:0x9b29e69f13437f9!8m2!3d50.4045703!4d30.380181"
                            rel="noopener noreferrer" target="_blank">ул. Васильковая, 7А, Киев, 08132</a>
                    </li>
                    <li class="address__item">
                        <svg class="address__icon" width="24" height="24">
                            <use href="./images/icons.svg#icon-phone"></use>
                        </svg>
                        <a class="address__link" href="tel:+380441111111">+38 044 111 11 11</a>
                    </li>
                    <li class="address__item">
                        <svg class="address__icon" width="24" height="24">
                            <use href="./images/icons.svg#icon-mail"></use>
                        </svg>
                        <a class="address__link address__link--underline"
                            href="mailto:barbershop@email.com">barbershop@email.com</a>
                    </li>
                </ul>
            </address>
            <div class="contacts__work-time">
                <p class="section__pre-title section__pre-title--lowest-opacity">время работы</p>
                <p class="contacts__time">Ежедневно с 9:00 до 22:00</p>
            </div>
        </div>
    </div>
</section>