<section class="section">
    <div class="container">
        <p class="section__pre-title section__pre-title--big-line-height">На латинском языке “барба” означает “борода”</p>
        <h2 class="section__title section__title--is-hidden">Галлерея наших работ</h2>
        <ul class="gallery">
            <li class="gallery__item">
                <picture>
                    <source srcset="./images/gallery/gallery-1-270.webp 1x, ./images/gallery/gallery-1-270@2x.webp 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/gallery/gallery-1-330.webp 1x, ./images/gallery/gallery-1-330@2x.webp 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/gallery/gallery-1-418.webp 1x, ./images/gallery/gallery-1-418@2x.webp 2x" type="image/webp">
                    <source srcset="./images/gallery/gallery-1-270.jpg 1x, ./images/gallery/gallery-1-270@2x.jpg 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/gallery/gallery-1-330.jpg 1x, ./images/gallery/gallery-1-330@2x.jpg 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/gallery/gallery-1-418.jpg 1x, ./images/gallery/gallery-1-418@2x.jpg 2x">
                    <img src="./images/gallery/gallery-1-418.jpg" alt="лучшие работы наших мастеров">
                </picture>
            </li>
            <li class="gallery__item">
                <picture>
                    <source srcset="./images/gallery/gallery-2-270.webp 1x, ./images/gallery/gallery-2-270@2x.webp 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/gallery/gallery-2-330.webp 1x, ./images/gallery/gallery-2-330@2x.webp 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/gallery/gallery-2-418.webp 1x, ./images/gallery/gallery-2-418@2x.webp 2x"
                        type="image/webp">
                    <source srcset="./images/gallery/gallery-2-270.jpg 1x, ./images/gallery/gallery-2-270@2x.jpg 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/gallery/gallery-2-330.jpg 1x, ./images/gallery/gallery-2-330@2x.jpg 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/gallery/gallery-2-418.jpg 1x, ./images/gallery/gallery-2-418@2x.jpg 2x">
                    <img src="./images/gallery/gallery-2-418.jpg" alt="лучшие работы наших мастеров">
                </picture>
            </li>
            <li class="gallery__item">
                <picture>
                    <source srcset="./images/gallery/gallery-3-270.webp 1x, ./images/gallery/gallery-3-270@2x.webp 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/gallery/gallery-3-330.webp 1x, ./images/gallery/gallery-3-330@2x.webp 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/gallery/gallery-3-418.webp 1x, ./images/gallery/gallery-3-418@2x.webp 2x"
                        type="image/webp">
                    <source srcset="./images/gallery/gallery-3-270.jpg 1x, ./images/gallery/gallery-3-270@2x.jpg 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/gallery/gallery-3-330.jpg 1x, ./images/gallery/gallery-3-330@2x.jpg 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/gallery/gallery-3-418.jpg 1x, ./images/gallery/gallery-3-418@2x.jpg 2x">
                    <img src="./images/gallery/gallery-3-418.jpg" alt="лучшие работы наших мастеров">
                </picture>
            </li>
            <li class="gallery__item">
                <picture>
                    <source srcset="./images/gallery/gallery-4-270.webp 1x, ./images/gallery/gallery-4-270@2x.webp 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/gallery/gallery-4-330.webp 1x, ./images/gallery/gallery-4-330@2x.webp 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/gallery/gallery-4-418.webp 1x, ./images/gallery/gallery-4-418@2x.webp 2x"
                        type="image/webp">
                    <source srcset="./images/gallery/gallery-4-270.jpg 1x, ./images/gallery/gallery-4-270@2x.jpg 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/gallery/gallery-4-330.jpg 1x, ./images/gallery/gallery-4-330@2x.jpg 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/gallery/gallery-4-418.jpg 1x, ./images/gallery/gallery-4-418@2x.jpg 2x">
                    <img src="./images/gallery/gallery-4-418.jpg" alt="лучшие работы наших мастеров">
                </picture>
            </li>
        </ul>
    </div>
</section>