<section class="section hero">
    <div class="container container__hero">
        <div class="hero__left">
            <ul class="company-socials">
                <li class="company-socials__item">
                    <a class="company-socials__link" href="#!">Instagram</a>
                </li>
                <li class="company-socials__item">
                    <a class="company-socials__link" href="#!">Youtube</a>
                </li>
            </ul>
        </div>
        <div class="hero__right">
            <p class="section__pre-title section__pre-title--less-opacity">A hair salon for men in Kyiv</p>
            <h1 class="section__title section__title--main">BarberShop</h1>
            <p class="section__after-title">Мы эксперты в модных мужских стрижках.
                Работаем быстро, осторожно и со вкусом.</p>
        </div>
    </div>
</section>