<section class="section section--darkest">
    <div class="container online-record">
        <h2 class="section__title section__title--white">Онлайн-запись</h2>
        <form class="online-form">
            <div class="online-form__box">
                <input class="online-form__input" type="text" name="user-name" placeholder="имя*" required minlength="2">
                <input class="online-form__input" type="tel" name="phone" placeholder="телефон*" required minlength="9">
            </div>
            <textarea class="online-form__input online-form__input--comment" name="user-comment" placeholder="сообщение" rows="1"></textarea>
            <button class="button button--light-text button--centered" type="submit">отправить</button>
        </form>
    </div>
</section>