<section class="section section--darkest" id="record">
    <div class="container container--medium">
        <h2 class="section__title section__title--centered section__title--white section__title--without-pre-title">Онлайн-запись</h2>
        <form class="online-form">
            <div class="online-form__box">
                <input class="online-form__input" type="text" name="name" placeholder="имя*">
                <input class="online-form__input" type="tel" name="phone" placeholder="телефон*">
            </div>
            <textarea class="online-form__comment" name="comment" placeholder="сообщение" rows="1"></textarea>
            <button class="button button--light-text button--centered online-form__button" type="submit">отправить</button>
        </form>
    </div>
</section>