<footer>
    <div class="container footer">
        <p class="footer__copy">&copy; Copyright 2022</p>
        <ul class="company-socials">
            <li class="company-socials__item">
                <a class="company-socials__link company-socials__item--footer" href="https://www.instagram.com/?hl=ru" target="_blank">Instagram</a>
            </li>
            <li class="company-socials__item company-socials__item--footer">
                <a class="company-socials__link" href="https://www.youtube.com/"  target="_blank">Youtube</a>
            </li>
        </ul>
    </div>
</footer>