<header class="page-header">
    <div class="container page-header__container">
        <svg class="logo" width="69" height="55">
            <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <button class="button-mobile button-mobile--open menu-toggle js-open-menu" aria-expanded="false"
            aria-controls="mobile-menu" aria-label="mobile-menu-open">
            <svg class="" width="40" height="40">
                <use href="./images/icons.svg#icon-open-mobile-menu"></use>
            </svg>
        </button>
    </div>
    <div class="menu-container js-menu-container" id="mobile-menu">
        <div class="menu-container__wrapper">
            <ul class="site-nav">
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#!">О нас</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#!">Услуги и цены</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#!">Мастера</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#!">Контакты</a>
                </li>
            </ul>
            <div class="connect menu-container__connect">
                <a class="connect__phone" href="tel:+380441111111">
                    +38 044 111 11 11
                </a>
                <button class="button button--wide" type="button">Онлайн-запись</button>
            </div>
            <div class="company-socials menu-container__company-socials">
                <ul class="company-socials__list">
                    <li class="company-socials__item">
                        <a class="company-socials__link" href="#!">Instagram</a>
                    </li>
                    <li class="company-socials__item">
                        <a class="company-socials__link" href="#!">Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="button-mobile button-mobile--close menu-toggle menu-toggle--close js-close-menu"
            aria-label="mobile-menu-close">
            <svg class="menu-toggle__icon-close" width="40" height="40">
                <use href="./images/icons.svg#icon-close-mobile-menu"></use>
            </svg>
        </button>
    </div>
</header>
