<section class="section prices">
    <div class="container">
        <p class="section__pre-title section__pre-title--less-opacity">Проведи время в компании лучших мастеров</p>
        <h2 class="section__title section__title--white">Услуги и цены</h2>
        <div class="prices__box">
            <ul class="prices__list-primary">
                <li class="prices__item">
                    <p class="prices__service">Мужская стрижка</p>
                    <span class="prices__value">от 300 грн.</span>
                </li>
                <li class="prices__item">
                    <p class="prices__service">Стрижка бороды</p>
                    <span class="prices__value">от 200 грн.</span>
                </li>
                <li class="prices__item">
                    <p class="prices__service">Бритье опасной бритвой</p>
                    <span class="prices__value">от 200 грн.</span>
                </li>
                <li class="prices__item">
                    <p class="prices__service">Мужская стрижка</p>
                    <span class="prices__value">от 200 грн.</span>
                </li>
            </ul>
            <ul class="prices__list-secondary">
                <li class="prices__item">
                    <p class="prices__service">Cтрижка у стажера</p>
                    <span class="prices__value">от 50 грн.</span>
                </li>
                <li class="prices__item">
                    <p class="prices__service">Стрижка под насадку</p>
                    <span class="prices__value">от 200 грн.</span>
                </li>
                <li class="prices__item">
                    <p class="prices__service">Детская стрижка (до 12 лет)</p>
                    <span class="prices__value">от 300 грн.</span>
                </li>
                <li class="prices__item">
                    <p class="prices__service">Камуфлирование седины</p>
                    <span class="prices__value">от 200 грн.</span>
                </li>
            </ul>
        </div>
        <button class="button button--light-text button--centered">онлайн-запись</button>
    </div>
</section>