<section class="section">
    <div class="container">
        <p class="section__pre-title">старая традиционная школа</p>
        <h2 class="section__title">Почему приходят именно к нам?</h2>
        <p class="section__after-title section__after-title--big">О нас говорят только хорошее. Но лучше
        1 раз увидеть и прочувствовать, чем 10 раз прочитать.</p>
        <ul class="reasons">
            <li class="reasons__item">
                <span class="reasons__value">600</span>
                <p class="reasons__text">Довольных клиентов в день</p>
            </li>
            <li class="reasons__item">
                <span class="reasons__value">50</span>
                <p class="reasons__text">Наград за отличный сервис</p>
            </li>
            <li class="reasons__item">
                <span class="reasons__value">20</span>
                <p class="reasons__text">Лучших мастеров Киева</p>
            </li>
            <li class="reasons__item">
                <span class="reasons__value">100</span>
                <p class="reasons__text">Подарков постоянным клиентам</p>
            </li>
        </ul>
    </div>
</section>