<section class="section section--darker" id="team">
    <div class="container container--narrow">
        <p class="section__pre-title">для настоящих ценителей атмосферы</p>
        <h2 class="section__title">Наши мастера</h2>
        <ul class="team">
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-1-370.webp 1x, ./images/team/team-1-370@2x.webp 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/team/team-1-450.webp 1x, ./images/team/team-1-450@2x.webp 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/team/team-1-418.webp 1x, ./images/team/team-1-418@2x.webp 2x" type="image/webp">
                    <source srcset="./images/team/team-1-370.jpg 1x, ./images/team/team-1-370@2x.jpg 2x" media="(min-width:1200px)">
                    <source srcset="./images/team/team-1-450.jpg 1x, ./images/team/team-1-450@2x.jpg 2x" media="(min-width:768px)">
                    <source srcset="./images/team/team-1-418.jpg 1x, ./images/team/team-1-418@2x.jpg 2x">
                    <img src="./images/team/team-1-418.jpg" alt="Член команды">
                </picture>
                <div class="team__content">
                    <h3 class="team__title">John Smith</h3>
                    <p class="team__text">Extreme Barber</p>
                    <ul class="socials">
                        <li class="socials__item">
                            <a class="socials__link" href="https://www.instagram.com/?hl=ru" rel="noopener noreferrer" target="_blank"
                                aria-label="instagram">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="https://twitter.com/?lang=ru" rel="noopener noreferrer" target="_blank"
                                aria-label="twitter">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank"
                                aria-label="facebook">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="https://www.linkedin.com/" rel="noopener noreferrer" target="_blank"
                                aria-label="linkedin">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-2-370.webp 1x, ./images/team/team-2-370@2x.webp 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/team/team-2-450.webp 1x, ./images/team/team-2-450@2x.webp 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/team/team-2-418.webp 1x, ./images/team/team-2-418@2x.webp 2x" type="image/webp">
                    <source srcset="./images/team/team-2-370.jpg 1x, ./images/team/team-2-370@2x.jpg 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/team/team-2-450.jpg 1x, ./images/team/team-2-450@2x.jpg 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/team/team-2-418.jpg 1x, ./images/team/team-2-418@2x.jpg 2x">
                    <img src="./images/team/team-2-418.jpg" alt="Член команды">
                </picture>
                <div class="team__content">
                    <h3 class="team__title">Michele Doe</h3>
                    <p class="team__text">Extreme Barber</p>
                    <ul class="socials">
                        <li class="socials__item">
                            <a class="socials__link" href="https://www.instagram.com/?hl=ru" rel="noopener noreferrer"
                                target="_blank" aria-label="instagram">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="https://twitter.com/?lang=ru" rel="noopener noreferrer"
                                target="_blank" aria-label="twitter">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank"
                                aria-label="facebook">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="https://www.linkedin.com/" rel="noopener noreferrer" target="_blank"
                                aria-label="linkedin">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-3-370.webp 1x, ./images/team/team-3-370@2x.webp 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/team/team-3-450.webp 1x, ./images/team/team-3-450@2x.webp 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/team/team-3-418.webp 1x, ./images/team/team-3-418@2x.webp 2x" type="image/webp">
                    <source srcset="./images/team/team-3-370.jpg 1x, ./images/team/team-3-370@2x.jpg 2x"
                        media="(min-width:1200px)">
                    <source srcset="./images/team/team-3-450.jpg 1x, ./images/team/team-3-450@2x.jpg 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/team/team-3-418.jpg 1x, ./images/team/team-3-418@2x.jpg 2x">
                    <img src="./images/team/team-3-418.jpg" alt="Член команды">
                </picture>
                <div class="team__content">
                    <h3 class="team__title">Alan Black</h3>
                    <p class="team__text">Extreme Barber</p>
                    <ul class="socials">
                        <li class="socials__item">
                            <a class="socials__link" href="https://www.instagram.com/?hl=ru" rel="noopener noreferrer"
                                target="_blank" aria-label="instagram">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="https://twitter.com/?lang=ru" rel="noopener noreferrer"
                                target="_blank" aria-label="twitter">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank"
                                aria-label="facebook">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="https://www.linkedin.com/" rel="noopener noreferrer" target="_blank"
                                aria-label="linkedin">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>

