.container {
  outline: 2px solid tomato;

  margin-right: auto;
  margin-left: auto;
  padding-right: 31px;
  padding-left: 31px;

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    width: 768px;
    padding-right: 39px;
    padding-left: 39px;

    &--narrow {
      width: 528px;
    }
  }

  @include mq(desktop) {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;

  @include mq(tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include mq(desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &--darker {
    background-color: var(--bgd-secondary-color);
  }

  &--darkest {
    background-color: var(--bgd-tertiary-color);
  }
}

.section__title {
  margin-top: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: var(--fw-700);
  font-size: var(--fs-42);
  line-height: 1.17;
  letter-spacing: var(--ls-05);

  color: var(--secondary-color);

  &--main {
    display: flex;
    flex-wrap: wrap;

    font-size: var(--fs-48);
    color: var(--primary-color);

    @include mq(desktop) {
      font-size: var(--fs-72);
    }
  }

  &--small {
    font-size: var(--fs-28);

    @include mq(desktop) {
      font-size: var(--fs-42);
    }
  }

  &--white {
    color: var(--primary-color);
  }

  &--without-pre-title {
    margin-top: 0;
  }

  &--is-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.section__pre-title {
  display: flex;
  align-items: center;

  font-weight: var(--fw-600);
  font-size: var(--fs-11);
  line-height: 1.36;
  letter-spacing: var(--ls-10);
  text-transform: uppercase;
  color: var(--secondary-color);

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: var(--secondary-color);
  }

  &--big-line-height {
    line-height: 1.91;
  }

  &--less-opacity {
    color: var(--less-opacity-color);

    &::before {
      background-color: var(--less-opacity-color);
    }
  }

  &--white {
    color: var(--primary-color);

    &::before {
      background-color: var(--primary-color);
    }
  }
}

.section__after-title {
  margin-top: 20px;

  font-size: var(--fs-16);
  line-height: 1.63;
  letter-spacing: var(--ls-02);
  color: var(--text-primary-color);

  @include mq(desktop) {
    font-size: var(--fs-18);
    line-height: 1.67;
  }

  &--main {
    color: var(--text-secondary-color);
    width: 73%;

    @include mq(tablet) {
      width: 69%;
    }

    @include mq(desktop) {
      width: 41%;
    }
  }

  &--big {
    font-size: var(--fs-18);
    line-height: 1.67;
  }
}

.section__content {
  margin-top: 20px;
  margin-bottom: 40px;
}
