.button {
  display: block;
  min-width: 160px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;

  font-weight: var(--fw-600);
  font-size: var(--fs-12);
  line-height: 1.36;
  letter-spacing: var(--ls-09);
  text-transform: uppercase;
  color: var(--secondary-color);

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  cursor: pointer;
  transition: color var(--animation-duration) var(--animation-timing-function),
    background-color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--primary-color);

    background-color: var(--accent-color);
  }

  &--wide {
    min-width: 194px;
  }

  &--light-text {
    color: var(--primary-color);
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }
}
