.back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 10px;

    color: var(--primary-color);
    border-radius: 100%;
    background-color: #b1bbe0;
    border: none;

    transition: background-color var(--animation-duration) var(--animation-timing-function);
    cursor: pointer;

    &:hover {
        background-color: var(--accent-color);
    }
}

.is-hidden {
    display: none;
}

.back-to-top-icon {
    width: 20px;
    height: 20px;

    color: black;
}