.company-socials {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 40px;

    background-color: var(--secondary-color);
  }

  @include mq(mobile-only) {
    flex-wrap: wrap;
  }

  @include mq(tablet) {
    transform: rotate(-90deg) translate(40px, 50px);
    transform-origin: bottom left;
  }
}
.company-socials__item {
  @include mq(mobile-only) {
    &:not(:first-child) {
      margin-top: 24px;
      padding-left: 100px;
    }
  }

  @include mq(tablet) {
    &:not(:first-child) {
      margin-left: 40px;
    }
  }
}
.company-socials__link {
  font-weight: var(--fw-600);
  line-height: 1.36;
  letter-spacing: var(--ls-20);
  color: var(--secondary-color);

  transition: color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
